#### **Exercise 1:**

Last week, we started looking at the Titanic data.  Load that data again. For features that you think are of minimal importance and / or have too many NAs to make imputation feasible, drop those features.  For those that seem important, use a `SimpleImputer` to impute the data.

In [18]:
import pandas as pd 

titanic = pd.read_csv("data/titanic.csv")
data_clean = titanic.drop(["cabin"], axis =1)
data_clean = data_clean[~data_clean.embarked.isna()]
data_clean = data_clean[~data_clean.fare.isna()]


from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
x = imputer.fit_transform(data_clean[['age']])
data_clean['age'] = x[:,0]
data_clean.age.hist
## need to specify column -- can't impute non numeric
## need double brackets

<bound method hist_series of 0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305    28.0000
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1306, dtype: float64>

#### **Exercise 2**

Sklearn does not handle strings.  Use an encoder to transform any string columns into numbers. If there are any categorical columns where label encoding won't work, use a one-hot encoder.

In [24]:
from sklearn.preprocessing import OneHotEncoder

data = data_clean[["sex", "age", "sibsp", "parch", "embarked", "survived"]]
encoder = OneHotEncoder(drop="first", sparse_output=False)
df = encoder.fit_transform(data_clean[['embarked', 'sex']])
df
data[encoder.get_feature_names_out()] = df
data 

data = data.drop(["sex", "embarked"], axis=1)
data

/tmp/ipykernel_3339/1768561280.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[encoder.get_feature_names_out()] = df
/tmp/ipykernel_3339/1768561280.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[encoder.get_feature_names_out()] = df
/tmp/ipykernel_3339/1768561280.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[encoder.get_feature_names_out()] = df

          age  sibsp  parch  survived  embarked_Q  embarked_S  sex_male
0     29.0000      0      0         1         0.0         1.0       0.0
1      0.9167      1      2         1         0.0         1.0       1.0
2      2.0000      1      2         0         0.0         1.0       0.0
3     30.0000      1      2         0         0.0         1.0       1.0
4     25.0000      1      2         0         0.0         1.0       0.0
...       ...    ...    ...       ...         ...         ...       ...
1304  14.5000      1      0         0         0.0         0.0       0.0
1305  28.0000      1      0         0         0.0         0.0       0.0
1306  26.5000      0      0         0         0.0         0.0       1.0
1307  27.0000      0      0         0         0.0         0.0       1.0
1308  29.0000      0      0         0         0.0         1.0       1.0

[1306 rows x 7 columns]

#### **Exercise 3**

Using 5-fold cross-validation, examine the performance of a LogisticRegression classifier.

In [28]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import numpy as np

lr = LogisticRegression()
x = data.drop("survived", axis =1)
y = data['survived']

result = cross_val_score(lr, x, y, cv=5)
result

array([0.82061069, 0.81609195, 0.80076628, 0.70881226, 0.65900383])

#### **Exercise 4**

Replace the logistic regression classifier with a decision tree classifier.  Which works better?  Why do you think that is?

In [29]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
x = data.drop("survived", axis =1)
y = data['survived']

result = cross_val_score(lr, x, y, cv=5)
result

array([0.82061069, 0.81609195, 0.80076628, 0.70881226, 0.65900383])

#### **Exercise 5:** 

See if you can get the decision tree classifier to perform better by adjusting your imputation procedure to use a KNNImputer.

#### **Exercise 6:**

Try using a `GridSearchCV` to optimize the DecisionTree algorithm.  What is the best performance you can achieve?